* {
    margin: 0;
    padding: 0;
    font-size: 17.6px;
    box-sizing: border-box;
}

.header {
    position: relative;
    display: block;
    width: 100vw;
    padding-block: 100px;
    background-color: #333333;
    z-index: -2;
}

.container {
    display: block;
    width: 100vw;
    text-align: center;
    padding-inline: 1.5rem;
}

.header__image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #333333;
    background-image: url(./assets/bg-header.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    opacity: 0.8;
}

.header__title {
    display: block;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.header__sub-title {
    display: block;
    padding-block: 1rem;
}

.header__link {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 1rem;
}
